:host {


  .bg-color {
    //background: beige !important;
    //backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(10px);
    background: unset !important;
  }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .bg-color {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }
  .container{
    //background-image: url("/assets/yv2.jpg");
    background-image: url("/assets/yv2.jpg");
    background-repeat: no-repeat;
    font-family: Georgia;
    font-size: medium;
  }
  .section-div-cls {

     .row > .col-xl-6:nth-child(2) {
       padding-left: 5px;
     }

    .fix-width{
      width: 80%;
    }
  }
}
