

<div class="container gammify-cls">
  <div class="container">
    <img ngSrc="/assets/yv3.jpeg" [width]="1200" [height]="677">
  </div>
  <div id="gammifyCareless" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card bg-color text-dark">
          <div class="card-header">
            Upcoming Events
          </div>
          <div class="card-body">
            <ul>
              <li>New President election will be held in month of December 2023</li>
              <li>Voter registration for upcoming election will be begin in coming month</li>
              <li>Youth who does registration in first coming month will be rewarded with Apple Watch. </li>
              <li>Whoever complete Quiz competition, will be rewarded with very nice gifts</li>
            </ul>
          </div>
        </div>
      </div>
       <div class="carousel-item ">
<!--        <img ngSrc="./assets/boom-cat.gif" class="d-block w-100" alt="No best boom boom available" height="403" width="377">-->
<!--        <img ngSrc="..." class="d-block w-100" alt="No best boom boom available" height="403" width="377">-->

        <div class="card bg-color text-dark">

          <div class="card-header">
            About the Movement
          </div>
          <div class="card-body">

            The Youth Voter Movement is a nonpartisan effort to ensure youth have a voice in the future of this country by making sure they register to vote and then vote.

            To do that, we host student-led registration drives at high schools, colleges, and other venues registering and pre-registering students (starting at age 16 in some states) to vote.

            But, we don’t stop there!  We also help with “Get Out the Vote” efforts to ensure that young adults are not only registered to vote, but that they are showing up on Election Day to cast their ballot.

          </div>
        </div>
      </div>
        <div class="carousel-item">
        <div class="card bg-color text-dark">
          <div class="card-header">
            Student Leaders
          </div>
          <div class="card-body">


            Student organizers and adult volunteers work collaboratively with schools, organizations and events to coordinate voter registration drives that target high school and college students.

            Paper and online registration drives occur during classes, lunch periods, school assemblies, school orientation days, school club days, marches, etc.

            After students register, they are challenged to recruit other youth to register and/or to organize new registration drives, and are encouraged to vote in every election.

            144
            Student Organizers
          </div>
        </div>
        </div>
      <div class="carousel-item">
        <div class="card bg-color text-dark">
          <div class="card-header">
            Adult Volunteers
          </div>
          <div class="card-body">
            During voter registration drives, adults support the Youth Voter Movement by volunteering at events as well as providing multimedia presentations, voting affidavits, and technical expertise on registration rules.

            They also provide supplies and giveaways, such as wristbands and “I Registered” stickers.  Prior to drives, adult volunteers provide web resources, assistance with outreach, voter registration training, and help to connect student organizers with resources from the League of Women Voters.

          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#gammifyCareless" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#gammifyCareless" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
